In [142]:
import pandas as pd
import numpy as np
import os
from dotenv import load_dotenv

load_dotenv()

True

In [143]:
dataframe: pd.DataFrame = pd.read_csv(os.getenv("TRAIN_PATH"))
dataframe.head()

,id,site_id,site_latitude,site_longitude,city,country,date,hour,sulphurdioxide_so2_column_number_density,sulphurdioxide_so2_column_number_density_amf,...,cloud_cloud_top_height,cloud_cloud_base_pressure,cloud_cloud_base_height,cloud_cloud_optical_depth,cloud_surface_albedo,cloud_sensor_azimuth_angle,cloud_sensor_zenith_angle,cloud_solar_azimuth_angle,cloud_solar_zenith_angle,pm2_5
0,id_vjcx08sz91,6531a46a89b3300013914a36,6.53257,3.39936,Lagos,Nigeria,2023-10-25,13,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.015000
1,id_bkg215syli,6531a46a89b3300013914a36,6.53257,3.39936,Lagos,Nigeria,2023-11-02,12,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42.267200
2,id_oui2pot3qd,6531a46a89b3300013914a36,6.53257,3.39936,Lagos,Nigeria,2023-11-03,13,NaN,NaN,...,6791.682888,51171.802486,5791.682829,11.816715,0.192757,-96.411890,61.045123,-121.307414,41.898269,39.450741
3,id_9aandqzy4n,6531a46a89b3300013914a36,6.53257,3.39936,Lagos,Nigeria,2023-11-08,14,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.537600
4,id_ali5x2m4iw,6531a46a89b3300013914a36,6.53257,3.39936,Lagos,Nigeria,2023-11-09,13,0.000267,0.774656,...,1451.050659,96215.906250,451.050598,10.521009,0.153114,-97.811241,49.513439,-126.064453,40.167355,19.431731

In [144]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8071 entries, 0 to 8070
Data columns (total 80 columns):
 #   Column                                                    Non-Null Count  Dtype
---  ------                                                    --------------  -----
 0   id                                                        8071 non-null   object
 1   site_id                                                   8071 non-null   object
 2   site_latitude                                             8071 non-null   float64
 3   site_longitude                                            8071 non-null   float64
 4   city                                                      8071 non-null   object
 5   country                                                   8071 non-null   object
 6   date                                                      8071 non-null   object
 7   hour                                                      8071 non-null   int64
 8   sulphurdioxide_so2_column_number_density                  3159 non-null   float64
 9   sulphurdioxide_so2_column_number_density_amf              3159 non-null   float64
 10  sulphurdioxide_so2_slant_column_number_density            3159 non-null   float64
 11  sulphurdioxide_cloud_fraction                             3159 non-null   float64
 12  sulphurdioxide_sensor_azimuth_angle                       3159 non-null   float64
 13  sulphurdioxide_sensor_zenith_angle                        3159 non-null   float64
 14  sulphurdioxide_solar_azimuth_angle                        3159 non-null   float64
 15  sulphurdioxide_solar_zenith_angle                         3159 non-null   float64
 16  sulphurdioxide_so2_column_number_density_15km             3159 non-null   float64
 17  month                                                     8071 non-null   float64
 18  carbonmonoxide_co_column_number_density                   4441 non-null   float64
 19  carbonmonoxide_h2o_column_number_density                  4441 non-null   float64
 20  carbonmonoxide_cloud_height                               4441 non-null   float64
 21  carbonmonoxide_sensor_altitude                            4441 non-null   float64
 22  carbonmonoxide_sensor_azimuth_angle                       4441 non-null   float64
 23  carbonmonoxide_sensor_zenith_angle                        4441 non-null   float64
 24  carbonmonoxide_solar_azimuth_angle                        4441 non-null   float64
 25  carbonmonoxide_solar_zenith_angle                         4441 non-null   float64
 26  nitrogendioxide_no2_column_number_density                 3104 non-null   float64
 27  nitrogendioxide_tropospheric_no2_column_number_density    3104 non-null   float64
 28  nitrogendioxide_stratospheric_no2_column_number_density   3104 non-null   float64
 29  nitrogendioxide_no2_slant_column_number_density           3104 non-null   float64
 30  nitrogendioxide_tropopause_pressure                       3104 non-null   float64
 31  nitrogendioxide_absorbing_aerosol_index                   3104 non-null   float64
 32  nitrogendioxide_cloud_fraction                            3104 non-null   float64
 33  nitrogendioxide_sensor_altitude                           3104 non-null   float64
 34  nitrogendioxide_sensor_azimuth_angle                      3104 non-null   float64
 35  nitrogendioxide_sensor_zenith_angle                       3104 non-null   float64
 36  nitrogendioxide_solar_azimuth_angle                       3104 non-null   float64
 37  nitrogendioxide_solar_zenith_angle                        3104 non-null   float64
 38  formaldehyde_tropospheric_hcho_column_number_density      4156 non-null   float64
 39  formaldehyde_tropospheric_hcho_column_number_density_amf  4156 non-null   float64
 40  formaldehyde_hcho_slant_column_number_density             4156 non-null   float64
 41  formaldehyde_cloud_fraction                               4156 non-null   float64
 42  formaldehyde_solar_zenith_angle                           4156 non-null   float64
 43  formaldehyde_solar_azimuth_angle                          4156 non-null   float64
 44  formaldehyde_sensor_zenith_angle                          4156 non-null   float64
 45  formaldehyde_sensor_azimuth_angle                         4156 non-null   float64
 46  uvaerosolindex_absorbing_aerosol_index                    8066 non-null   float64
 47  uvaerosolindex_sensor_altitude                            8066 non-null   float64
 48  uvaerosolindex_sensor_azimuth_angle                       8066 non-null   float64
 49  uvaerosolindex_sensor_zenith_angle                        8066 non-null   float64
 50  uvaerosolindex_solar_azimuth_angle                        8066 non-null   float64
 51  uvaerosolindex_solar_zenith_angle                         8066 non-null   float64
 52  ozone_o3_column_number_density                            7959 non-null   float64
 53  ozone_o3_column_number_density_amf                        7959 non-null   float64
 54  ozone_o3_slant_column_number_density                      7959 non-null   float64
 55  ozone_o3_effective_temperature                            7959 non-null   float64
 56  ozone_cloud_fraction                                      7959 non-null   float64
 57  ozone_sensor_azimuth_angle                                7959 non-null   float64
 58  ozone_sensor_zenith_angle                                 7959 non-null   float64
 59  ozone_solar_azimuth_angle                                 7959 non-null   float64
 60  ozone_solar_zenith_angle                                  7959 non-null   float64
 61  uvaerosollayerheight_aerosol_height                       427 non-null    float64
 62  uvaerosollayerheight_aerosol_pressure                     427 non-null    float64
 63  uvaerosollayerheight_aerosol_optical_depth                427 non-null    float64
 64  uvaerosollayerheight_sensor_zenith_angle                  427 non-null    float64
 65  uvaerosollayerheight_sensor_azimuth_angle                 427 non-null    float64
 66  uvaerosollayerheight_solar_azimuth_angle                  427 non-null    float64
 67  uvaerosollayerheight_solar_zenith_angle                   427 non-null    float64
 68  cloud_cloud_fraction                                      4994 non-null   float64
 69  cloud_cloud_top_pressure                                  4994 non-null   float64
 70  cloud_cloud_top_height                                    4994 non-null   float64
 71  cloud_cloud_base_pressure                                 4994 non-null   float64
 72  cloud_cloud_base_height                                   4994 non-null   float64
 73  cloud_cloud_optical_depth                                 4994 non-null   float64
 74  cloud_surface_albedo                                      4994 non-null   float64
 75  cloud_sensor_azimuth_angle                                4994 non-null   float64
 76  cloud_sensor_zenith_angle                                 4994 non-null   float64
 77  cloud_solar_azimuth_angle                                 4994 non-null   float64
 78  cloud_solar_zenith_angle                                  4994 non-null   float64
 79  pm2_5                                                     8071 non-null   float64
dtypes: float64(74), int64(1), object(5)
memory usage: 4.9+ MB

In [145]:
dataframe.describe()

,site_latitude,site_longitude,hour,sulphurdioxide_so2_column_number_density,sulphurdioxide_so2_column_number_density_amf,sulphurdioxide_so2_slant_column_number_density,sulphurdioxide_cloud_fraction,sulphurdioxide_sensor_azimuth_angle,sulphurdioxide_sensor_zenith_angle,sulphurdioxide_solar_azimuth_angle,...,cloud_cloud_top_height,cloud_cloud_base_pressure,cloud_cloud_base_height,cloud_cloud_optical_depth,cloud_surface_albedo,cloud_sensor_azimuth_angle,cloud_sensor_zenith_angle,cloud_solar_azimuth_angle,cloud_solar_zenith_angle,pm2_5
count,8071.000000,8071.000000,8071.000000,3159.000000,3159.000000,3159.000000,3159.000000,3159.000000,3159.000000,3159.000000,...,4994.000000,4994.000000,4994.000000,4994.000000,4994.000000,4994.000000,4994.000000,4994.000000,4994.000000,8071.000000
mean,0.635678,30.246982,10.877463,0.000024,0.687295,0.000013,0.126581,2.120939,38.671939,-92.912582,...,6089.449805,58478.947647,5105.978072,16.885186,0.255501,-18.952179,45.881380,-84.811978,28.708028,24.639296
std,2.154605,9.393151,0.815875,0.000354,0.142544,0.000220,0.094129,85.450554,18.964322,43.240479,...,2991.879500,18974.281900,2971.949265,27.547282,0.046204,85.873938,14.721454,40.627170,7.038309,24.878920
min,-3.459970,3.201510,10.000000,-0.000980,0.299364,-0.000696,0.000000,-107.710861,0.177093,-165.131509,...,521.378113,10752.090499,9.741494,1.458444,0.090547,-102.706078,2.996863,-159.058782,10.314990,1.200000
25%,0.288630,32.568643,10.000000,-0.000196,0.589849,-0.000137,0.038062,-98.911720,22.811537,-134.823883,...,3687.102253,43231.418685,2701.118575,5.612198,0.228117,-98.865659,37.901279,-125.371559,24.102775,13.270600
50%,0.332610,32.600480,11.000000,0.000012,0.669632,0.000007,0.123876,71.653160,42.564364,-95.848477,...,5389.787844,60432.792969,4389.787844,8.752905,0.257323,-97.477511,49.187592,-74.597511,29.002745,18.375400
75%,0.374653,32.641110,11.000000,0.000221,0.766817,0.000149,0.209070,74.110476,54.238408,-49.662067,...,8047.738159,74276.492371,7047.738159,14.794590,0.285948,72.814735,57.156175,-49.902340,33.929767,28.838400
max,6.595400,36.914272,14.000000,0.002024,1.607052,0.001101,0.299850,77.319656,66.234924,-22.250822,...,17287.677734,100909.219778,16287.677734,250.000002,0.417945,77.319656,66.238778,-22.251009,45.496395,456.193333

### Analyze Data regarding cities and times

In [146]:
dataframe["date"] = pd.to_datetime(dataframe["date"])
dataframe["datetime"] = dataframe["date"] + pd.to_timedelta(dataframe["hour"], unit='h')
dataframe["month"] = dataframe["datetime"].dt.month

In [147]:
COLUMNS: list[str] = ["site_id", "site_latitude", "site_longitude", "country", "city", "datetime", "pm2_5"]
dataframe[COLUMNS]

,site_id,site_latitude,site_longitude,country,city,datetime,pm2_5
0,6531a46a89b3300013914a36,6.532570,3.399360,Nigeria,Lagos,2023-10-25 13:00:00,12.015000
1,6531a46a89b3300013914a36,6.532570,3.399360,Nigeria,Lagos,2023-11-02 12:00:00,42.267200
2,6531a46a89b3300013914a36,6.532570,3.399360,Nigeria,Lagos,2023-11-03 13:00:00,39.450741
3,6531a46a89b3300013914a36,6.532570,3.399360,Nigeria,Lagos,2023-11-08 14:00:00,10.537600
4,6531a46a89b3300013914a36,6.532570,3.399360,Nigeria,Lagos,2023-11-09 13:00:00,19.431731
...,...,...,...,...,...,...,...
8066,647f3a5d69df500029a2fc93,-1.268877,36.819139,Kenya,Nairobi,2024-01-17 10:00:00,21.086071
8067,647f3a5d69df500029a2fc93,-1.268877,36.819139,Kenya,Nairobi,2024-01-24 11:00:00,17.110000
8068,647f3a5d69df500029a2fc93,-1.268877,36.819139,Kenya,Nairobi,2024-01-25 11:00:00,15.080000
8069,647f3a5d69df500029a2fc93,-1.268877,36.819139,Kenya,Nairobi,2024-01-26 10:00:00,18.026750
8070,647f3a5d69df500029a2fc93,-1.268877,36.819139,Kenya,Nairobi,2024-01-27 10:00:00,13.103000

In [148]:
dataframe[COLUMNS].query("country == 'Nigeria' & city == 'Lagos'").value_counts(["site_id", "site_latitude", "site_longitude", "country", "city"])

site_id                   site_latitude  site_longitude  country  city
64aafb1843e5f70029a059c4  6.514409       3.371036        Nigeria  Lagos    78
64d0f71818831d0013c326c2  6.517270       3.398370        Nigeria  Lagos    76
64d3abace241c10012e56b24  6.527240       3.355750        Nigeria  Lagos    75
64d3aa7c0bde610013f03093  6.544740       3.346240        Nigeria  Lagos    73
64db3e98149b3c001a52c89e  6.475000       3.201510        Nigeria  Lagos    72
64dc967e9043f40013344b96  6.594410       3.383280        Nigeria  Lagos    70
64d4836b77e011001332ed3f  6.517670       3.385420        Nigeria  Lagos    67
64d3ab2af5fc5e00133e7984  6.442050       3.378490        Nigeria  Lagos    57
6531094353d72d00146591dd  6.552160       3.388070        Nigeria  Lagos    41
652e8f12319d650019be0444  6.590300       3.342210        Nigeria  Lagos    41
6531a46a89b3300013914a36  6.532570       3.399360        Nigeria  Lagos    34
652c59739beea7001a7548b4  6.495500       3.392240        Nigeria  Lagos    33
640f0b9e1663d3001e40bd00  6.440483       3.406815        Nigeria  Lagos    28
64d7bb69ed04f200139b5fbd  6.489940       3.386190        Nigeria  Lagos    22
655f78d8f6246d0013d51e5d  6.463960       3.452120        Nigeria  Lagos    19
6572c7f70c67750014f20c90  6.595400       3.291850        Nigeria  Lagos    16
6572c93f24e8bf0013024fa2  6.561480       3.251060        Nigeria  Lagos    16
6572c9c124e8bf0013024fb0  6.561340       3.250740        Nigeria  Lagos    16
65836b30aae708001379b5f4  6.482850       3.357890        Nigeria  Lagos     9
65836b9f363e1b00135acaf1  6.569090       3.367310        Nigeria  Lagos     9
Name: count, dtype: int64

In [149]:
dataframe[COLUMNS].query("site_id == '64aafb1843e5f70029a059c4'").sort_values("datetime", ascending=False)

,site_id,site_latitude,site_longitude,country,city,datetime,pm2_5
5590,64aafb1843e5f70029a059c4,6.514409,3.371036,Nigeria,Lagos,2024-01-27 13:00:00,55.229444
5589,64aafb1843e5f70029a059c4,6.514409,3.371036,Nigeria,Lagos,2024-01-26 12:00:00,66.253235
5588,64aafb1843e5f70029a059c4,6.514409,3.371036,Nigeria,Lagos,2024-01-25 12:00:00,61.723864
5587,64aafb1843e5f70029a059c4,6.514409,3.371036,Nigeria,Lagos,2024-01-24 13:00:00,45.040455
5586,64aafb1843e5f70029a059c4,6.514409,3.371036,Nigeria,Lagos,2024-01-16 12:00:00,53.251136
...,...,...,...,...,...,...,...
5517,64aafb1843e5f70029a059c4,6.514409,3.371036,Nigeria,Lagos,2023-08-10 13:00:00,20.524419
5516,64aafb1843e5f70029a059c4,6.514409,3.371036,Nigeria,Lagos,2023-08-05 13:00:00,10.180341
5515,64aafb1843e5f70029a059c4,6.514409,3.371036,Nigeria,Lagos,2023-08-04 13:00:00,12.717000
5514,64aafb1843e5f70029a059c4,6.514409,3.371036,Nigeria,Lagos,2023-08-03 12:00:00,11.039318
5513,64aafb1843e5f70029a059c4,6.514409,3.371036,Nigeria,Lagos,2023-08-02 12:00:00,12.356136

## Analyze missing data

In [150]:
missing_data: pd.DataFrame = dataframe[dataframe.isnull().any(axis=1)].sort_values(["site_id", "datetime"], ascending=False)

In [151]:
def missing_all_data_from_group(row: pd.Series, group: str) -> bool:
    missing: bool = True
        
    for col_name, value in row.items():
        if group not in col_name or not isinstance(value, float):
            continue
            
        missing = missing and np.isnan(value)
        
        if not missing:
            return missing
    
    return missing



def missing_any_data_from_group(row: pd.Series, group: str) -> bool:
    missing: bool = False

    for col_name, value in row.items():
        if group not in col_name or not isinstance(value, float):
            continue
        missing = missing or np.isnan(value)
        
        if missing:
            return missing
        
    return missing


dataframe["missing_carbonmonoxide"] = dataframe.apply(lambda x: missing_all_data_from_group(x, "carbonmonoxide"), axis=1)
dataframe["missing_formaldehyde"] = dataframe.apply(lambda x: missing_all_data_from_group(x, "formaldehyde"), axis=1)
dataframe["missing_nitrogendioxide"] = dataframe.apply(lambda x: missing_all_data_from_group(x, "nitrogendioxide"), axis=1)
dataframe["missing_sulphurdioxide"] = dataframe.apply(lambda x: missing_all_data_from_group(x, "sulphurdioxide"), axis=1)
dataframe["missing_uvaerosolindex"] = dataframe.apply(lambda x: missing_all_data_from_group(x, "uvaerosolindex"), axis=1)
dataframe["missing_uvaerosollayerheight"] = dataframe.apply(lambda x: missing_all_data_from_group(x, "uvaerosollayerheight"), axis=1)

In [152]:
dataframe[[col for col in dataframe.columns if "missing" in col]].sum() / dataframe.shape[0]

missing_carbonmonoxide          0.449758
missing_formaldehyde            0.485070
missing_nitrogendioxide         0.615413
missing_sulphurdioxide          0.608599
missing_uvaerosolindex          0.000620
missing_uvaerosollayerheight    0.947095
dtype: float64

In [153]:
dataframe = dataframe.drop(columns=[col for col in dataframe.columns if "uvaerosollayerheight" in col])
dataframe

,id,site_id,site_latitude,site_longitude,city,country,date,hour,sulphurdioxide_so2_column_number_density,sulphurdioxide_so2_column_number_density_amf,...,cloud_sensor_zenith_angle,cloud_solar_azimuth_angle,cloud_solar_zenith_angle,pm2_5,datetime,missing_carbonmonoxide,missing_formaldehyde,missing_nitrogendioxide,missing_sulphurdioxide,missing_uvaerosolindex
0,id_vjcx08sz91,6531a46a89b3300013914a36,6.532570,3.399360,Lagos,Nigeria,2023-10-25,13,NaN,NaN,...,NaN,NaN,NaN,12.015000,2023-10-25 13:00:00,True,True,True,True,False
1,id_bkg215syli,6531a46a89b3300013914a36,6.532570,3.399360,Lagos,Nigeria,2023-11-02,12,NaN,NaN,...,NaN,NaN,NaN,42.267200,2023-11-02 12:00:00,False,False,True,True,False
2,id_oui2pot3qd,6531a46a89b3300013914a36,6.532570,3.399360,Lagos,Nigeria,2023-11-03,13,NaN,NaN,...,61.045123,-121.307414,41.898269,39.450741,2023-11-03 13:00:00,True,True,True,True,False
3,id_9aandqzy4n,6531a46a89b3300013914a36,6.532570,3.399360,Lagos,Nigeria,2023-11-08,14,NaN,NaN,...,NaN,NaN,NaN,10.537600,2023-11-08 14:00:00,True,True,True,True,False
4,id_ali5x2m4iw,6531a46a89b3300013914a36,6.532570,3.399360,Lagos,Nigeria,2023-11-09,13,0.000267,0.774656,...,49.513439,-126.064453,40.167355,19.431731,2023-11-09 13:00:00,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8066,id_ov6ddbfdf0,647f3a5d69df500029a2fc93,-1.268877,36.819139,Nairobi,Kenya,2024-01-17,10,NaN,NaN,...,NaN,NaN,NaN,21.086071,2024-01-17 10:00:00,True,True,True,True,False
8067,id_3tv6i1a09t,647f3a5d69df500029a2fc93,-1.268877,36.819139,Nairobi,Kenya,2024-01-24,11,-0.000563,0.595788,...,NaN,NaN,NaN,17.110000,2024-01-24 11:00:00,False,False,False,False,False
8068,id_csqjqt3f9i,647f3a5d69df500029a2fc93,-1.268877,36.819139,Nairobi,Kenya,2024-01-25,11,NaN,NaN,...,NaN,NaN,NaN,15.080000,2024-01-25 11:00:00,False,False,True,True,False
8069,id_tv6dzkz7ii,647f3a5d69df500029a2fc93,-1.268877,36.819139,Nairobi,Kenya,2024-01-26,10,-0.000188,0.746123,...,NaN,NaN,NaN,18.026750,2024-01-26 10:00:00,False,False,False,False,False
8070,id_qgxtderh4p,647f3a5d69df500029a2fc93,-1.268877,36.819139,Nairobi,Kenya,2024-01-27,10,0.000089,0.752415,...,48.218334,-144.969040,21.264854,13.103000,2024-01-27 10:00:00,False,False,False,False,False

In [154]:
dataframe[["site_id", "datetime", "cloud_cloud_fraction"]].sort_values(by=["site_id", "datetime"], ascending=False)

                       site_id            datetime  cloud_cloud_fraction
4473  65836b9f363e1b00135acaf1 2024-01-27 13:00:00              0.056594
4472  65836b9f363e1b00135acaf1 2024-01-26 12:00:00              0.068514
4471  65836b9f363e1b00135acaf1 2024-01-25 12:00:00              0.067301
4470  65836b9f363e1b00135acaf1 2024-01-24 13:00:00                   NaN
4469  65836b9f363e1b00135acaf1 2024-01-16 12:00:00                   NaN
...                        ...                 ...                   ...
206   60d058c8048305120d2d6147 2024-01-24 11:00:00                   NaN
205   60d058c8048305120d2d6147 2023-06-09 11:00:00              0.164555
204   60d058c8048305120d2d6147 2023-06-08 11:00:00              0.018728
203   60d058c8048305120d2d6147 2023-06-07 12:00:00                   NaN
202   60d058c8048305120d2d6147 2023-05-11 10:00:00              0.568857

[8071 rows x 3 columns]

In [155]:
dataframe[dataframe.site_id == "65836b9f363e1b00135acaf1"].drop(columns=["site_latitude", "site_longitude", "city", "country", "hour", "id", "date", "site_id"]).sort_values(by="datetime", ascending=False)

,sulphurdioxide_so2_column_number_density,sulphurdioxide_so2_column_number_density_amf,sulphurdioxide_so2_slant_column_number_density,sulphurdioxide_cloud_fraction,sulphurdioxide_sensor_azimuth_angle,sulphurdioxide_sensor_zenith_angle,sulphurdioxide_solar_azimuth_angle,sulphurdioxide_solar_zenith_angle,sulphurdioxide_so2_column_number_density_15km,month,...,cloud_sensor_zenith_angle,cloud_solar_azimuth_angle,cloud_solar_zenith_angle,pm2_5,datetime,missing_carbonmonoxide,missing_formaldehyde,missing_nitrogendioxide,missing_sulphurdioxide,missing_uvaerosolindex
4473,-0.000951,0.361553,-0.000344,0.057521,-95.917404,65.097076,-130.489532,39.014580,-0.000126,1,...,65.097191,-130.489487,39.014614,79.647222,2024-01-27 13:00:00,False,False,False,False,False
4472,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,...,54.231277,-158.785049,27.205864,58.958500,2024-01-26 12:00:00,False,False,False,True,False
4471,-0.000088,0.535323,-0.000047,0.068317,74.470161,30.092440,-150.703400,29.415739,-0.000021,1,...,30.092365,-150.703384,29.415747,66.272750,2024-01-25 12:00:00,True,False,False,False,False
4470,-0.000400,0.578403,-0.000231,0.040088,-102.182014,7.507707,-143.777054,32.169048,-0.000113,1,...,NaN,NaN,NaN,51.686500,2024-01-24 13:00:00,False,False,False,False,False
4469,0.001001,0.501419,0.000502,0.016993,70.093834,64.352905,-164.888031,28.559998,0.000172,1,...,NaN,NaN,NaN,61.439250,2024-01-16 12:00:00,False,False,False,False,False
4468,-0.000241,0.602413,-0.000145,0.087655,72.435156,47.564489,-156.593798,30.301520,-0.000058,1,...,47.564129,-156.593704,30.301573,58.818750,2024-01-15 12:00:00,True,False,False,False,False
4467,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,...,NaN,NaN,NaN,50.850750,2024-01-14 13:00:00,False,False,True,True,False
4466,0.000199,0.655732,0.000131,0.246213,-100.957397,20.287094,-143.126312,35.352448,0.000060,1,...,NaN,NaN,NaN,56.787000,2024-01-13 13:00:00,False,False,True,False,False
4465,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12,...,NaN,NaN,NaN,51.228500,2023-12-31 12:00:00,False,False,False,True,False

In [156]:
imputer_dataset: pd.DataFrame = dataframe[dataframe.site_id == "65836b9f363e1b00135acaf1"].drop(columns=['missing_carbonmonoxide', 'missing_formaldehyde',
                                                                                                         'missing_nitrogendioxide', 'missing_sulphurdioxide',
                                                                                                         'missing_uvaerosolindex', 'id', 'site_id', 'site_latitude', 'site_longitude', 'city', 'country',
                                                                                                         'date', 'hour', "datetime"])
imputer_dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9 entries, 4465 to 4473
Data columns (total 65 columns):
 #   Column                                                    Non-Null Count  Dtype
---  ------                                                    --------------  -----
 0   sulphurdioxide_so2_column_number_density                  6 non-null      float64
 1   sulphurdioxide_so2_column_number_density_amf              6 non-null      float64
 2   sulphurdioxide_so2_slant_column_number_density            6 non-null      float64
 3   sulphurdioxide_cloud_fraction                             6 non-null      float64
 4   sulphurdioxide_sensor_azimuth_angle                       6 non-null      float64
 5   sulphurdioxide_sensor_zenith_angle                        6 non-null      float64
 6   sulphurdioxide_solar_azimuth_angle                        6 non-null      float64
 7   sulphurdioxide_solar_zenith_angle                         6 non-null      float64
 8   sulphurdioxide_so2_column_number_density_15km             6 non-null      float64
 9   month                                                     9 non-null      int32
 10  carbonmonoxide_co_column_number_density                   7 non-null      float64
 11  carbonmonoxide_h2o_column_number_density                  7 non-null      float64
 12  carbonmonoxide_cloud_height                               7 non-null      float64
 13  carbonmonoxide_sensor_altitude                            7 non-null      float64
 14  carbonmonoxide_sensor_azimuth_angle                       7 non-null      float64
 15  carbonmonoxide_sensor_zenith_angle                        7 non-null      float64
 16  carbonmonoxide_solar_azimuth_angle                        7 non-null      float64
 17  carbonmonoxide_solar_zenith_angle                         7 non-null      float64
 18  nitrogendioxide_no2_column_number_density                 7 non-null      float64
 19  nitrogendioxide_tropospheric_no2_column_number_density    7 non-null      float64
 20  nitrogendioxide_stratospheric_no2_column_number_density   7 non-null      float64
 21  nitrogendioxide_no2_slant_column_number_density           7 non-null      float64
 22  nitrogendioxide_tropopause_pressure                       7 non-null      float64
 23  nitrogendioxide_absorbing_aerosol_index                   7 non-null      float64
 24  nitrogendioxide_cloud_fraction                            7 non-null      float64
 25  nitrogendioxide_sensor_altitude                           7 non-null      float64
 26  nitrogendioxide_sensor_azimuth_angle                      7 non-null      float64
 27  nitrogendioxide_sensor_zenith_angle                       7 non-null      float64
 28  nitrogendioxide_solar_azimuth_angle                       7 non-null      float64
 29  nitrogendioxide_solar_zenith_angle                        7 non-null      float64
 30  formaldehyde_tropospheric_hcho_column_number_density      9 non-null      float64
 31  formaldehyde_tropospheric_hcho_column_number_density_amf  9 non-null      float64
 32  formaldehyde_hcho_slant_column_number_density             9 non-null      float64
 33  formaldehyde_cloud_fraction                               9 non-null      float64
 34  formaldehyde_solar_zenith_angle                           9 non-null      float64
 35  formaldehyde_solar_azimuth_angle                          9 non-null      float64
 36  formaldehyde_sensor_zenith_angle                          9 non-null      float64
 37  formaldehyde_sensor_azimuth_angle                         9 non-null      float64
 38  uvaerosolindex_absorbing_aerosol_index                    9 non-null      float64
 39  uvaerosolindex_sensor_altitude                            9 non-null      float64
 40  uvaerosolindex_sensor_azimuth_angle                       9 non-null      float64
 41  uvaerosolindex_sensor_zenith_angle                        9 non-null      float64
 42  uvaerosolindex_solar_azimuth_angle                        9 non-null      float64
 43  uvaerosolindex_solar_zenith_angle                         9 non-null      float64
 44  ozone_o3_column_number_density                            9 non-null      float64
 45  ozone_o3_column_number_density_amf                        9 non-null      float64
 46  ozone_o3_slant_column_number_density                      9 non-null      float64
 47  ozone_o3_effective_temperature                            9 non-null      float64
 48  ozone_cloud_fraction                                      9 non-null      float64
 49  ozone_sensor_azimuth_angle                                9 non-null      float64
 50  ozone_sensor_zenith_angle                                 9 non-null      float64
 51  ozone_solar_azimuth_angle                                 9 non-null      float64
 52  ozone_solar_zenith_angle                                  9 non-null      float64
 53  cloud_cloud_fraction                                      4 non-null      float64
 54  cloud_cloud_top_pressure                                  4 non-null      float64
 55  cloud_cloud_top_height                                    4 non-null      float64
 56  cloud_cloud_base_pressure                                 4 non-null      float64
 57  cloud_cloud_base_height                                   4 non-null      float64
 58  cloud_cloud_optical_depth                                 4 non-null      float64
 59  cloud_surface_albedo                                      4 non-null      float64
 60  cloud_sensor_azimuth_angle                                4 non-null      float64
 61  cloud_sensor_zenith_angle                                 4 non-null      float64
 62  cloud_solar_azimuth_angle                                 4 non-null      float64
 63  cloud_solar_zenith_angle                                  4 non-null      float64
 64  pm2_5                                                     9 non-null      float64
dtypes: float64(64), int32(1)
memory usage: 4.6 KB

In [157]:
from sklearn.impute import KNNImputer


imputer = KNNImputer(
        missing_values=np.nan,
        add_indicator=True,
        n_neighbors=5,
    )
imputer.set_output(transform="pandas")

imputed_dataset: pd.DataFrame = imputer.fit_transform(imputer_dataset)

In [158]:
imputer_dataset

,sulphurdioxide_so2_column_number_density,sulphurdioxide_so2_column_number_density_amf,sulphurdioxide_so2_slant_column_number_density,sulphurdioxide_cloud_fraction,sulphurdioxide_sensor_azimuth_angle,sulphurdioxide_sensor_zenith_angle,sulphurdioxide_solar_azimuth_angle,sulphurdioxide_solar_zenith_angle,sulphurdioxide_so2_column_number_density_15km,month,...,cloud_cloud_top_height,cloud_cloud_base_pressure,cloud_cloud_base_height,cloud_cloud_optical_depth,cloud_surface_albedo,cloud_sensor_azimuth_angle,cloud_sensor_zenith_angle,cloud_solar_azimuth_angle,cloud_solar_zenith_angle,pm2_5
4465,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51.228500
4466,0.000199,0.655732,0.000131,0.246213,-100.957397,20.287094,-143.126312,35.352448,0.000060,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,56.787000
4467,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50.850750
4468,-0.000241,0.602413,-0.000145,0.087655,72.435156,47.564489,-156.593798,30.301520,-0.000058,1,...,9766.171875,34918.171875,8766.171875,3.763978,0.205068,72.435188,47.564129,-156.593704,30.301573,58.818750
4469,0.001001,0.501419,0.000502,0.016993,70.093834,64.352905,-164.888031,28.559998,0.000172,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,61.439250
4470,-0.000400,0.578403,-0.000231,0.040088,-102.182014,7.507707,-143.777054,32.169048,-0.000113,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51.686500
4471,-0.000088,0.535323,-0.000047,0.068317,74.470161,30.092440,-150.703400,29.415739,-0.000021,1,...,6752.268555,51473.234375,5752.268555,3.009970,0.200597,74.470154,30.092365,-150.703384,29.415747,66.272750
4472,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,...,7419.905273,46758.355469,6419.905273,3.113338,0.203401,71.556526,54.231277,-158.785049,27.205864,58.958500
4473,-0.000951,0.361553,-0.000344,0.057521,-95.917404,65.097076,-130.489532,39.014580,-0.000126,1,...,6603.147949,52142.632812,5603.147949,3.301844,0.214454,-95.917404,65.097191,-130.489487,39.014614,79.647222

In [159]:
imputed_dataset

,sulphurdioxide_so2_column_number_density,sulphurdioxide_so2_column_number_density_amf,sulphurdioxide_so2_slant_column_number_density,sulphurdioxide_cloud_fraction,sulphurdioxide_sensor_azimuth_angle,sulphurdioxide_sensor_zenith_angle,sulphurdioxide_solar_azimuth_angle,sulphurdioxide_solar_zenith_angle,sulphurdioxide_so2_column_number_density_15km,month,...,missingindicator_cloud_cloud_top_pressure,missingindicator_cloud_cloud_top_height,missingindicator_cloud_cloud_base_pressure,missingindicator_cloud_cloud_base_height,missingindicator_cloud_cloud_optical_depth,missingindicator_cloud_surface_albedo,missingindicator_cloud_sensor_azimuth_angle,missingindicator_cloud_sensor_zenith_angle,missingindicator_cloud_solar_azimuth_angle,missingindicator_cloud_solar_zenith_angle
4465,-0.000296,0.546685,-0.000127,0.099959,-30.430300,34.109761,-144.938019,33.250667,-0.000052,12.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
4466,0.000199,0.655732,0.000131,0.246213,-100.957397,20.287094,-143.126312,35.352448,0.000060,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
4467,0.000094,0.574658,0.000042,0.091853,2.771948,33.960927,-151.817719,31.159751,0.000008,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
4468,-0.000241,0.602413,-0.000145,0.087655,72.435156,47.564489,-156.593798,30.301520,-0.000058,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4469,0.001001,0.501419,0.000502,0.016993,70.093834,64.352905,-164.888031,28.559998,0.000172,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
4470,-0.000400,0.578403,-0.000231,0.040088,-102.182014,7.507707,-143.777054,32.169048,-0.000113,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
4471,-0.000088,0.535323,-0.000047,0.068317,74.470161,30.092440,-150.703400,29.415739,-0.000021,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4472,-0.000048,0.526486,0.000002,0.085826,-30.898564,37.467444,-146.596866,32.902362,-0.000006,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4473,-0.000951,0.361553,-0.000344,0.057521,-95.917404,65.097076,-130.489532,39.014580,-0.000126,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0